body {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.4;
}

.row {
  margin: 20px 40px;
  min-width: 335px;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 2% auto;
  color: #303030;
  font-size: 30px;
}
.names{
  text-transform: uppercase;
  font-weight: bolder;
  border-bottom: 3px solid #13B15B;
  margin: 5px 60px 10px 60px;
  padding-bottom: 5px;
  color: #303030;
}

.email{
  padding-top: 10px;
}

div {
  text-align: center;
}

img {
  height: 250px;
  padding-bottom: 10px;
}

.streetaddress, .streetcode {
  text-transform: capitalize;
}

.email {
  color: #7C7C7C;
  font-size: 15px;
}

 .ssn{
   color: #13B15B;
 }
